# Install the apt prerequisites
addons:
  apt:
    packages:
      - python-pygments

# Clean and don't fail
install:
  - rm -rf public || exit 0
  - wget https://github.com/gohugoio/hugo/releases/download/v0.41/hugo_0.41_Linux-64bit.tar.gz
  - mkdir ~/bin || true
  - tar -C ~/bin -zxvf hugo_0.41_Linux-64bit.tar.gz
  - chmod 755 ~/bin/hugo

# Build the website
script:
  - ~/bin/hugo --theme=sustain

deploy:
  provider: pages
  skip-cleanup: true
  github-token:
    secure: "kfWd6xkCs0AYo6RQwHso9yVLHI0TGoyO0p/7mFdffoVOh+0bKs1kkMAnQ6t2KUYmfQ2Y15PcVNrc2MK0A7X/hYCNOo+0/DzllTJFZE0B/e+RtWV+LdN/NkbafUrQLAciOk1nGwrxRg48FRDkkXm9sE1pNpqBKgAnQ+rZl5OZm/tnVprgXJNH87p8csHVXnqtUmWuE9GBjtAHhmyTUJhdaXSylS2vNmTF0SkcXOvR6VoPegHcCtr0YqVudPIgi2B7Ub2M3bbHQOMsnOiKRwQl9/VHIYlXsKiGeQet1aUybZnrAreoo+PIDrBrgkFewGdiFdVvgCKzJ8Lz5t/BNsUr25SKVnfqogQ6oDrf0PLsTKqsfSDbqhvY6UBguRPacmhihf4aTWS25/C/okTAmrBZtvKU58Ph6YXrF/1I0NudiPMimp2Z/vMtmycYJMUSIYffj1pxnOiOZ11Bf+nN0v6oaXxTFm8e6DEJjiI87/cEExi3t08l9VUYR1oYGn4rLYDqZTll4WtepJ6C4YQPPi9mHqI3MpER3WBbaLghvSRbheI2viKdMhltpAc7iUapdlVz/ICWy6Mc/c4DoWjiO8Ea/gGKFPPAaa+ps7JwZ7NsX5OdnVK90bzjaN9lClLdwAI286p2VJk6O9wnOYKX87EJuy5UQSnlT8C0y67s63W6eFU="
  keep-history: true
  on:
    branch: master
